<%= stylesheet_link_tag 'octopus/morris', rel: 'stylesheet' %>

<!-- Filter section -->
<section class="panel">
  <header class="panel-heading">
    <h2 class="panel-title">
      ART Initiation
    </h2>
    <p class="panel-subtitle">
      HTS positives with and without ART initiation (compared side by side on district and site)
    </p>
  </header>
  <div class="panel-body" style="text-align: right;">
    <form class="form-horizontal form-bordered" id="filter-form-date">
      <div class="row">
        <div class="form-group col-lg-6" style="border: 0px;">
          <label class="col-md-3 control-label">
            Date range
          </label>
          <div class="col-md-6">
            <div class="input-daterange input-group" data-plugin-datepicker>
														<span class="input-group-addon">
															<i class="fa fa-calendar"></i>
														</span>
              <input type="text" class="form-control" name="start" readonly="readonly" id="start_date">
              <span class="input-group-addon">to</span>
              <input type="text" class="form-control" name="end" readonly="readonly" id="end_date">
            </div>
          </div>
        </div>
        <div class="form-group col-lg-2">
          <button type="submit" class="btn btn-primary">Filter</button>
        </div>
      </div>
    </form>

  </div>
</section>
<!-- end filter -->

<!-- Start charts section -->
<div class="row">
  <!-- Left chart -->
  <div class="col-lg-6">
    <div class="panel">
      <div class="panel-body">
        <form class="form-horizontal form-bordered" id="filter-form-left">
          <div class="row">
            <div class="form-group col-lg-6" style="border: 0px;">
              <label class="col-md-3 control-label">District</label>
              <div class="col-md-6">
                <select class="form-control" data-plugin-multiselect id="district_id_left">
                  <option value="1" selected>Lilongwe</option>
                  <option value="2">Balaka</option>
                  <option value="3">Mzuzu</option>
                </select>
              </div>
            </div>
            <div class="form-group col-lg-6" style="border: 0px;">
              <label class="col-md-3 control-label">Site</label>
              <div class="col-md-6">
                <select class="form-control" data-plugin-multiselect id="site_id_left">
                  <option value="1" selected>MPC</option>
                  <option value="2">Lighthouse</option>
                  <option value="3">Kawale</option>
                </select>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="tabs">
      <ul class="nav nav-tabs nav-justified">
        <li class="active">
          <a href="#popular10" data-toggle="tab" class="text-center"><i class="fa fa-bar-chart-o"></i> Graphical</a>
        </li>
        <li>
          <a href="#recent10" data-toggle="tab" class="text-center"><i class="fa fa-table"></i> Tabular</a>
        </li>
      </ul>
      <div class="tab-content">
        <div id="popular10" class="tab-pane active">
          <section class="panel">
            <div class="panel-body">

              <!-- Morris: Area -->
              <div class="chart chart-md" id="morrisStacked"></div>
              <script type="text/javascript">

                  let morrisStackedData = [{
                      y: '<1',
                      a: 10,
                      b: 30
                  }, {
                      y: '1-9',
                      a: 100,
                      b: 25
                  }, {
                      y: '10-14F',
                      a: 60,
                      b: 25
                  }, {
                      y: '10-14M',
                      a: 75,
                      b: 35
                  }, {
                      y: '15-19F',
                      a: 90,
                      b: 20
                  }, {
                      y: '15-19M',
                      a: 75,
                      b: 15
                  }, {
                      y: '20-24F',
                      a: 50,
                      b: 10
                  }, {
                      y: '20-24M',
                      a: 75,
                      b: 25
                  }, {
                      y: '25-49F',
                      a: 30,
                      b: 10
                  }, {
                      y: '25-49M',
                      a: 75,
                      b: 5
                  }, {
                      y: '50+F',
                      a: 60,
                      b: 8
                  }];
              </script>

            </div>
            <div class="panel-footer">
              <div class="row">
                <div class="col-lg-6">
                  Legend: Green (w/tout Initiation) | Blue (w/t Initiation)
                </div>
              </div>
            </div>
          </section>
        </div>
        <div id="recent10" class="tab-pane">
          <div class="panel-body">
            <table class="table table-bordered table-striped" id="art_init_table_left">
              <thead>
              <tr>
                <th>&nbsp;</th>
                <th><1</th>
                <th>1-9</th>
                <th>10-14F</th>
                <th>10-14M</th>
                <th>15-19F</th>
                <th>15-19M</th>
                <th>20-24F</th>
                <th>20-24M</th>
                <th>25-49F</th>
                <th>25-49M</th>
                <th>50+ F</th>
                <th>50+ M</th>morrisStackedData
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>HTS Pos with ART init</td>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
              </tr>
              <tr>
                <td>HTS Pos w/out ART init</td>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
              </tr>
              <tr>
                <td>Started ART/Total</td>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Right chart -->
  <div class="col-lg-6">
    <div class="panel">
      <div class="panel-body">
        <form class="form-horizontal form-bordered" id="filter-form-right">
          <div class="row">
            <div class="form-group col-lg-6" style="border: 0px;">
              <label class="col-md-3 control-label">District</label>
              <div class="col-md-6">
                <select class="form-control" data-plugin-multiselect id="district_id_right">
                  <option value="1" selected>Lilongwe</option>
                  <option value="2">Balaka</option>
                  <option value="3">Mzuzu</option>
                </select>
              </div>
            </div>
            <div class="form-group col-lg-6" style="border: 0px;">
              <label class="col-md-3 control-label">Site</label>
              <div class="col-md-6">
                <select class="form-control" data-plugin-multiselect id="site_id_right">
                  <option value="1" selected>MPC</option>
                  <option value="2">Lighthouse</option>
                  <option value="3">Kawale</option>
                </select>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="tabs">
      <ul class="nav nav-tabs nav-justified">
        <li class="active">
          <a href="#popular20" data-toggle="tab" class="text-center"><i class="fa fa-bar-chart-o"></i> Graphical</a>
        </li>
        <li>
          <a href="#recent20" data-toggle="tab" class="text-center"><i class="fa fa-table"></i> Tabular</a>
        </li>
      </ul>
      <div class="tab-content">
        <div id="popular20" class="tab-pane active">
          <section class="panel">
            <div class="panel-body">

              <!-- Morris: Area -->
              <div class="chart chart-md" id="morrisStacked2"></div>
              <script type="text/javascript">

                  let morrisStackedData2 = [{
                      y: '<1',
                      a: 10,
                      b: 30
                  }, {
                      y: '1-9',
                      a: 100,
                      b: 25
                  }, {
                      y: '10-14F',
                      a: 60,
                      b: 25
                  }, {
                      y: '10-14M',
                      a: 75,
                      b: 35
                  }, {
                      y: '15-19F',
                      a: 90,
                      b: 20
                  }, {
                      y: '15-19M',
                      a: 75,
                      b: 15
                  }, {
                      y: '20-24F',
                      a: 50,
                      b: 10
                  }, {
                      y: '20-24M',
                      a: 75,
                      b: 25
                  }, {
                      y: '25-49F',
                      a: 30,
                      b: 10
                  }, {
                      y: '25-49M',
                      a: 75,
                      b: 5
                  }, {
                      y: '50+F',
                      a: 60,
                      b: 8
                  }];
              </script>

            </div>
            <div class="panel-footer">
              <div class="row">
                <div class="col-lg-6">
                  Legend: Green (w/tout Initiation) | Blue (w/t Initiation)
                </div>
              </div>
            </div>
          </section>
        </div>
        <div id="recent20" class="tab-pane">
          <div class="panel-body">
            <table class="table table-bordered table-striped" id="art_init_table_right">
              <thead>
              <tr>
                <th>&nbsp;</th>
                <th><1</th>
                <th>1-9</th>
                <th>10-14F</th>
                <th>10-14M</th>
                <th>15-19F</th>
                <th>15-19M</th>
                <th>20-24F</th>
                <th>20-24M</th>
                <th>25-49F</th>
                <th>25-49M</th>
                <th>50+ F</th>
                <th>50+ M</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>HTS Pos with ART init</td>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
              </tr>
              <tr>
                <td>HTS Pos w/out ART init</td>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
              </tr>
              <tr>
                <td>Started ART/Total</td>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Specific Page Vendor -->
<%= javascript_include_tag 'octopus/jquery.appear' %>
<%= javascript_include_tag 'octopus/raphael' %>
<%= javascript_include_tag 'octopus/morris' %>
<%#= javascript_include_tag 'octopus/examples.charts' %>


<script>
    $(document).ready( function () {

    } );

    let $tableLeft = $('#art_init_table_left');
    let $tableRight = $('#art_init_table_right');

    // process the form
    $('#filter-form-date').submit(function(event) {

        let formData = {
            'start_date' : $('#start_date').val(),
            'end_date' : $('#end_date').val(),
            'district_id_left': $('#district_id_left').val(),
            'district_id_right': $('#district_id_right').val(),
            'site_id_left': '7', //$('#site_id_left').val(),
            'site_id_right': '7' //$('#site_id_right').val()
        };

        ajaxARTinitiationLeft(formData, 'left');

        ajaxARTinitiationRight(formData, 'right');

        event.preventDefault();
    });

    function ajaxARTinitiationLeft(formData, side){

        $.ajax({
            type        : 'POST',
            url         : '/art_initiation',
            headers : {
                'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
            },
            data        : formData,
            dataType    : 'json',
            encode       : true
        })
        // using the done promise callback
            .done(function(data) {
                console.log(data);

                (function( $ ) {

                    'use strict';

                    /*
                    Morris: Stacked
                    */
                    Morris.Bar({
                        resize: true,
                        element: 'morrisStacked',
                        data: morrisStackedData,
                        xkey: 'y',
                        ykeys: ['a', 'b'],
                        labels: ['w/t Init', 'w/tout Init'],
                        barColors: ['#0088cc', '#2baab1'],
                        fillOpacity: 0.7,
                        smooth: false,
                        stacked: true,
                        hideHover: true
                    });

                }).apply( this, [ jQuery ]);
            });
    }

    function ajaxARTinitiationRight(formData, side){

        $.ajax({
            type        : 'POST',
            url         : '/art_initiation',
            headers : {
                'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
            },
            data        : formData,
            dataType    : 'json',
            encode       : true
        })
        // using the done promise callback
            .done(function(data) {
                console.log(data);

                let expectedHash = [{
                    '<1': 12
                }, {
                    '<1-9': 23
                }];
                // morrisStackedData2 = [{
                //     y: '<1',
                //     a: 10,
                //     b: 30
                // }, {
                //     y: '1-9',
                //     a: 100,
                //     b: 25
                // }, {
                //     y: '10-14F',
                //     a: 60,
                //     b: 25
                // }];

                morrisStackedData2 = expectedHash;

                (function( $ ) {

                    'use strict';

                    /*
                    Morris: Stacked2
                    */
                    Morris.Bar({
                        resize: true,
                        element: 'morrisStacked2',
                        data: morrisStackedData2,
                        xkey: 'y',
                        ykeys: ['a', 'b'],
                        labels: ['w/t Init', 'w/tout Init'],
                        barColors: ['#0088cc', '#2baab1'],
                        fillOpacity: 0.7,
                        smooth: false,
                        stacked: true,
                        hideHover: true
                    });

                }).apply( this, [ jQuery ]);

            });
    }
</script>
